<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<ion-app>
    <ion-menu side="end" menuId="first" contentId="main">
        <ion-header>
          <ion-toolbar color="primary">
              <ion-buttons slot="end">
                  <ion-menu-button></ion-menu-button>
              </ion-buttons>
            <ion-title>Start Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item>
              <ion-icon name="person-circle"></ion-icon>
              <span>Profile</span>
            </ion-item>
            <ion-item>
              <ion-icon name="bag-handle"></ion-icon>
              <!--<i class='bx bx-cart-alt' ></i> -->
              <span class="links_name">Shop Cart</span>
              </ion-item>
            <ion-item>
              <i class='bx bx-folder' > </i>
              <span [routerLink]="['/receipt']">Receipt</span>
            </ion-item> 
          </ion-list>
        </ion-content>
        <ion-footer >
          <div *ngIf="!this.authService.loggedIn()">
            <ion-item >
              <ion-buttons>
                <ion-button [routerLink]="['/login']">
                  LogIn
                </ion-button>
                <ion-button [routerLink]="['/signup']"expand="block" fill="outline">
                  SignUp
                </ion-button>
              </ion-buttons>
            </ion-item>
          </div>
          <div *ngIf="this.authService.loggedIn()">
            <ion-item>
              <ion-buttons>
                <ion-button (click)="logOut()">
                  LogOut
                </ion-button>
              </ion-buttons>
            </ion-item>
          </div>
        </ion-footer>
      </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
