<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref='/'></ion-back-button>
    </ion-buttons>
    <ion-title>Article details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Article</ion-card-subtitle>
      <ion-card-title>Article Name</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus exercitationem quibusdam distinctio voluptates totam, mollitia, repudiandae inventore, ut earum soluta repellendus saepe excepturi eaque molestias possimus dicta! Vero, error aperiam!
    </ion-card-content>
  </ion-card>
</ion-content>
